/* 共通 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: futura, osaka;
  background-color: #eee;
}
.container {
  margin: 0 160px;
}
header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  border-radius: 0 0 7px 7px;
  background-color: #fff;
  z-index: 1;
}
header nav {
  margin-left: 170px;
}
main {
  min-height: calc(100vh - 75px - 28px);
  margin-top: 75px;
  padding: 20px 0;
}
.button {
  border-radius: 3px;
  background-color: #222;
  color: #fff;
  font-size: 21px;
  padding: 10px;
  text-decoration: none;
}
.button:hover {
  transition: background-color 0.3s ease;
  background-color: #d03043;
}
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error h1 {
  padding: 10px 0;
}
.error p {
  padding: 5px 0;
}
.error .button {
  display: inline-flex;
  margin: 14px 0;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 75px - 28px - 40px - 18px);;
  width: 100%;
}
.three_balls, .three_balls:before, .three_balls:after {
  border-radius: 50%;
  background-color: #888;
  width: 18px;
  height: 18px;
  transform-origin: center center;
  display: inline-block;
}
.three_balls {
  position: relative;
  background-color: rgba(#888, 1);
  opacity: 1;
  animation: scaleAlpha 1s infinite linear;
}
.three_balls:before, .three_balls:after {
  content: '';
  position: relative;
  opacity: 0.25;
}
.three_balls:before {
  left: 30px;
  top: 0px;
  animation: scaleAlphaBefore 1s infinite linear;
}
.three_balls:after {
  left: -30px;
  top: -23px;
  animation: scaleAlphaAfter 1s infinite linear;
}
@keyframes scaleAlpha {
  0% { opacity: 1; }
  33% {  opacity: 0.25; }
  66% { opacity: 0.25; }
  100% {  opacity: 1; }
}
@keyframes scaleAlphaBefore {
  0% { opacity: 0.25; }
  33% { opacity: 1; }
  66% { opacity: 0.25; }
}
@keyframes scaleAlphaAfter {
  33% { opacity: 0.25; }
  66% { opacity: 1; }
  100% { opacity: 0.25; }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 100%;
  border-radius: 7px 7px 0 0;
  color: #fff;
  background-color: #000;
}

/* / */
.floor-links {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.floor-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  margin: 10px 0;
  border-radius: 7px;
  transform: skew(-20deg);
}
.floor-link .floor-name {
  position: absolute;
  font-size: 2em;
  color: #fff;
}
.floor-link a {
  display: block;
  position: absolute;
  width: 300px;
  height: 100px;
  border-radius: 7px;
}
.floor-7 {
  background: #ff7373;
}
.floor-6 {
  background: #ffb972;
}
.floor-5 {
  background: #ffde72;
}
.floor-4 {
  background: #97ee4f;
}
.floor-3 {
  background: #54d76c;
}
.floor-2 {
  background: #73a6ff;
}
.floor-1 {
  background: #7388ff;
}

/* /nf/ */
.floor-guide {
  margin: 5px;
}
.floor-guide img {
  width: 100%;
}
.back-button {
  font-family: inherit;
  border: 0;
  padding: 10px 14px;
}
.floor-guide .back-button {
  margin: 6px 0 0 6px;
}
.room-links {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.room-link {
  display: inline-flex;
  align-items: center;
  margin: 0 5px;
}

/* /nf/nnn/  */
.room-guide {
  padding: 11px;
  border-radius: 6px;
  background-color: #fff;
}
.room-guide h1 {
  padding: 10px 0;
}
.shops {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.shop {
  width: 45%;
  margin: 0 6px 20px 6px;
  border: 2px solid #aaa;
  border-radius: 6px;
}
.shop h2 {
  padding: 3px;
}
.shop .introduction-img img {
  width: 100%;
}
.shop .price {
  font-size: 30px;
  padding: 4px;
}
.shop .introduction-text {
  font-size: 20px;
  padding: 3px;
}

@media screen and (max-width: 1024px) {
  .container {
    margin: 0 85px;
  }
  header nav {
    margin-left: 80px;
  }
}

@media screen and (max-width: 599px) {
  .container {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  header nav {
    margin-left: 10px;
  }
  main {
    min-height: calc(100vh - 75px - 45px);
  }
  footer {
    height: 45px;
  }
  .shop {
    width: 100%;
    margin: 0;
  }
  .shop:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .room-guide .introduction-img img {
    width: 100%;
  }
}